.class {
	color:gold;
	text-align: center;
	font-family: "Lucida Console";
	font-size: 20px;
	margin-top: 30%;
}

body{
	background-image:url('mukta.gif');
    background-size:cover;
    background-attachment: fixed;
  
}

#poet{
	color:gold;
	text-align: center;
	font-family: "Lucida Console";
	margin-top: 20%;
	font-size: 20px;
}

#type{
	margin: 20px 20px 55px 650px;
}

a:link {
	color: gold;
	text-decoration: none;
}

a:visited {
	color: gold;
	text-decoration-color: aliceblue;
}

 #blu {
 	text-decoration-color:aliceblue;
 }

 